*{
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
    outline: none;
}
:root{
    --lightBlue: #25e8c4;
    --lightGreen: #27f293;
    --green: #2FDB5A;
    --gray: #8B8BAE;
    --redAlert: #E85B25;
}

